<div class ='row'>
   <div class="col-sm-12 position_relative_top">
      <div class="col-sm-2 relative_child">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i><%= link_to ' Back to Coffee shop', shop_path(@shop.id), style:'color:darkgrey' %>
      </div>
        <div class="col-sm-8 text-center">
          <h3 class='menu-subtitle text-center'>1 - Check your order from <%= @shop.name %> </h3>
        </div>
        <div class="col-sm-2 relative_child"></div>
      </div>
    </div>
</div>

<div class ='row text-center'>
  <br>
  <% @total = 0 %>
  <% @item_data.each do |k, v| %>
  <div class='col-sm-3 position_relative'>
    <div class='col-sm-12 position_relative cart_item'>
    <figure class='overlay'>
      <%= cl_image_tag Item.find(k.to_i).photo, width: 256, height: 256, crop: "fill" %>
      <div class='cart_text'>
        <div class="col-sm-6">
          <h4 class='menu-title'><%= Item.find(k.to_i).name %></h4>
        </div>
        <div class="col-sm-3">
          <h4 class='menu-title'><%= v.to_s + ' x  '  + Item.find(k.to_i).price.round(2).to_s + '€' %></h4>
        </div>
      </div>
      </figure>
    </div>
  </div>

  <% @total += (Item.find(k.to_i).price * v) %>
  <% end %>
</div>

<div class ='row'>
  <br>
    <div class='col-sm-5'></div>
    <div class='col-md-2 text-center menu-subtitle'>
    <div id='total'><%='TOTAL AMOUNT : ' + @total.round(2).to_s + '€' %></div>
    <div class='col-sm-5'></div>
  </div>
</div>
