<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@shop.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @shop.description %>
<% content_for :meta_image, cloudinary_url(@shop.photo.path) %>

<div class='container-fluid margin-top-page'>
  <div class='row'>
    <div class="col-sm-12 position_relative_top">
      <div class="col-sm-3 relative_child">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i><%= link_to ' Back to Coffee Shops', shops_path(address: @params), style:"color:darkgrey" %>
      </div>
      <div class="col-sm-6 text-center">
      <h3 class="menu-subtitle text-center shop"><%= "Coffee's from" + ' ' + @shop.name %></h3>
      </div>
      <div class="col-sm-3 relative_child">
        <div class='pull-right'>
        <a href="#footer_shop"><p class="menu-subtitle text-center shop" style="color:darkgrey"><%= "More info on your Coffee Shop  " %><i class="fa fa-info-circle page-scroll" aria-hidden="true" style="color:darkgrey"></p></i>
        </a>
        </div>
      </div>
    </div>
    <% @shop.items.each do |item| %>
    <div class="col-sm-3">
      <div class="menu">
        <div class="item-description">
          <figure class="overlay">
            <%= cl_image_tag item.photo, width: 256, height: 256, crop: "fill"%>
            <figcaption>
              <div class="caption-inner">
                <div class="overlay-icon">

                  <a href="<%=add_to_cart_shop_path(@shop, item_id: item.id)%>" data-remote="true" class="add-button"></a>
                  <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="description">
          <div class="col-sm-9">
            <h4 class='menu-title'><%= item.name %></h4>
          </div>
          <div class="col-sm-3 text-center">
            <h4 class='menu-price'><%= item.price.to_s + '€' %></h4>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  </br>
  </br>

  <div class="row footer_shop" id="footer_shop">
    <div class="col-sm-4 footer_shop_padding">
    <h3 class="menu-subtitle"><%= @shop.name %></h3>
    <h4 class='menu-subtitle'><%= @shop.address %></h4>
    <p class='menu-subtitle'><i class="fa fa-phone" aria-hidden="true"></i><%= " " + @shop.phone %></p>
    <p class='menu-detail'><%= @shop.horaries %></p>
    <p class='menu-detail'><%= @shop.description %></p>
    </div>
    <div class="col-sm-8">
      <div id="map" style="width: 100%; height: 300px;">
      <%= render 'shop-show-map' %>
      </div>
    </div>
  </div>

</div>

