<h3><%= @shop.name %></h3>
<p><%= link_to 'Back to list', shops_path %></p>
<p><%= @shop.address %></p>
<% @order %>
<% @shop.items.each do |item| %>
  <p>Name : <%= item.name %></p>
  <p>Description : <%= item.description %></p>
  <p>Price (€) : <%= item.price %></p>
  <%= link_to 'Add to cart', add_to_cart_shop_path(@shop, item_id: item.id) %>

  <br>
<% end %>
<h4><%= link_to 'Check my cart', cart_shop_path(@shop.id) %></h4>


