<% current_page?(root_path) ? classe = "navbar navbar-custom navbar-transparent navbar-fixed-top" : classe = "navbar navbar-custom navbar-fixed-top" %>

 <nav class="<%= classe %>" role='navigation'>
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'BringMeACoffee', root_path, class: 'navbar-brand' %>
    </div> <!-- end navbar-header -->

    <div class="collapse navbar-collapse" id="custom-collapse">
      <div class="nav navbar-nav navbar-right">

        <ul class="nav navbar-nav navbar-right">

          <!-- Home Menu -->
          <% if current_page?(root_path) %>
            <li class="page-scroll"><a href="#home">Home</a></li>
            <li class="page-scroll"><a href="#services">How it works</a></li>
            <li class="page-scroll"><a href="#gallery">Gallery</a></li>
          <% end %>

          <!-- Cart Icon -->
          <li class="page-scroll">
            <% (session[:carts].nil? || session[:carts].empty?) ? link = "#" : link = cart_shop_path(session[:carts].keys.first) %>
            <% params[:id].nil? ? datalink = "" : datalink = params[:id] %>
            <%= link_to link, id: "cart-link", 'data-link' => datalink do %>
              <%= render 'shared/cart' %>
            <% end %>
          </li>

          <!-- User Avatar if Signed-in -->
          <li class="page-scroll">
            <% if user_signed_in? %>
              <div class="dropdown">
                <%= link_to '#', class: "dropdown", 'data-toggle' => "dropdown" do %>
                  <% if current_user.photo? %>
                    <%= cl_image_tag current_user.photo.path, class: "avatar-large avatar-navbar-margin" %>
                  <% else %>
                    <i class="fa fa-user avatar-navbar-margin" aria-hidden="true" style="font-size:30px;color:white;margin-top:11px;margin-left:7px"></i>
                  <% end %>
                <% end %>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Profile', profile_path %></li>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
            <% else %>
            <!-- Login Button if not logged -->
              <%= link_to 'Login', new_user_session_path, class: 'login-btn' %>
            <% end %>
          </li>

        </ul>
      </div>
    </div>

  </div><!-- .container -->

</nav>


