<h1>Orders#index</h1>

<% @orders.each do |order| %>
  <h3>Order n° : <%= link_to order.id, order_path(order.user_id) %></h3>
  <p>User name : <%= User.find(order.user_id).first_name %> <%= User.find(order.user_id).last_name %></p>

  <p>Order status : <%= order.status %></p>
  <p>Order delivery type : <%= order.delivery_type %></p>
  <% end %>
