<div class='container margin-top-page'>
  <div class="row order">
    <div class="col-sm-6 order">
      <div class="title">
        <h3 class="">Your order</h3>
      </div>
      <div class='items_list'>
        <h4 class="menu-subtitle" id='list'>Order n°<%= @Order.id %></h4>
        <!-- Iteration on each order_item -->
        <% @main_total = 0 %>
        <% @Order.order_items.each do |order_item| %>
        <!-- Condition same order n° -->
        <% if @Order.id == order_item.order_id %>
        <% @item = Item.find(order_item.item_id) %>
        <div class="col-sm-8">
          <h4 class='menu-title'><%= @item.name %></h4>
          <p class='menu-detail'><%= @item.description %></p>
        </div>
        <div class="col-sm-4">
          <h4 class='menu-price text-center'><%= @item.price.to_s + '€' %></h4>
          <% @main_total += @item.price %>
        </div>
        <% end %>
        <% end %>
      </div>
      <div class="col-sm-8"></div>
      <div class="col-sm-4">
        <h4 class='menu-price text-center'>Total : <%= @main_total.to_s + '€'%></h4>
      </div>
    </div>

    <div class="col-sm-6">
<<<<<<< HEAD
      <!-- Set condition to display child-order -->
      <% if @Order.orders.first nil? %>
        <div class='child-order'>
          <div class='title'>
            <!-- Set child_order -->
            <% @child_order = @Order.orders %>
            <% @child_user = @child_order.first.user.first_name %>
            <% @child_user_address = @child_order.first.user.delivery_address %>
            <% @child_user_phone = @child_order.first.user.phone %>
            <h3 class="menu-subtitle">Your delivery for : <%= @child_user %></h3>
          </div>
          <div class='items_list'>
            <h4 class="menu-subtitle" id="list">Order n°<%= @child_order.first.id %> </h4>
            <!-- Iteration on each order_item -->
            <% @child_total = 0 %>
            <% @orderitem.each do |order_item| %>
            <!-- Condition same order n° -->
            <% if @child_order.first.id == @Order.orders.first.id %>
            <div class="col-sm-8">
              <h4 class='menu-title'><%= order_item.item.name %></h4>
              <p class='menu-detail'><%= order_item.item.description %></p>
            </div>
            <div class="col-sm-4">
              <h4 class='menu-price text-center'><%= order_item.item.price.to_s + '€' %></h4>
              <% @child_total += @item.price %>
            </div>
            <% end %>
            <% end %>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
            <h4 class='menu-price text-center'>Total : <%= @child_total.to_s + '€'%></h4>
          </div>
          </div>
=======

      <div class='shop'>

        <figure class="overlay">

          <%= image_tag('cappucino.jpg') %>

        </figure>

      </div>

      <div class='description'>

        <h4 class='menu-title'><%= Shop.find(@shop_id).name %></h4>

        <p class='menu-detail'><%= Shop.find(@shop_id).address %></p>

      </div>

    </div>

    <div class='delivery' >

      <div class='title'>

        <!-- Set condition to display delivery guy -->

        <% if @Order.delivery_type == true %>

        <% if @Order.main_orders.first %>
        <% @main_user = @Order.main_orders.first.user.first_name %>
        <% @main_user_phone = @Order.main_orders.first.user.phone %>
        <% @main_user_address = @Order.main_orders.first.user.delivery_address %>
        <h3 class="module-title">Delivered by : <%= @main_user + ' - ' + @main_user_phone %></h3>
        <% end %>

>>>>>>> 6881aa11edf59cca1ef01cb26516c9eb0d04478c
        <% end %>
      </div>
    </div>

    <% if @Order.orders.first nil? %>
      <div class="col-sm-12 text-center">
        <h4 class='menu-subtitle'>Total : <%= (@main_total + @child_total).to_s + '€'%></h4>
      </div>
    <% end %>

    <div class="col-sm-6">
      <div class='items_list'>
        <div class="col-sm-8">
          <h4 class='menu-subtitle' id='list'>Address :</h4>
        </div>
        <div class="col-sm-8">
          <h4 class='menu-title'><%= Shop.find(@shop_id).name %></h4>
          <p class='menu-detail'><%= Shop.find(@shop_id).address %></p>
        </div>
      </div>
      <div class='delivery' >
        <div class="col-sm-8">
          <!-- Set condition to display delivery guy -->
          <% if @Order.delivery_type == true %>
          <% if @Order.main_orders.first %>
          <% @main_user = @Order.main_orders.first.user.first_name %>
          <% @main_user_phone = @Order.main_orders.first.user.phone %>
          <% @main_user_address = @Order.main_orders.first.user.delivery_address %>
          <h4 class="menu-subtitle">Delivered by : <%= @main_user + ' - ' + @main_user_phone %></h4>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% if @Order.orders.first nil? %>
      <div class="col-sm-6">
        <div class='items_list'>
          <div class="col-sm-8">
            <h4 class='menu-subtitle' id='list'>Address :</h4>
            <h4 class="menu-title"><%= @child_user_address %></h4>
            <p class="menu-detail"><%= @child_user + "'s phone : "  %><%= @child_user_phone %></p>
          </div>

          </div>
      </div>
    <% end %>

    </div>
    <% if @Order.orders.first nil? %>
      <div class="col-sm- text-center">
        <!-- Set source & destination address -->
        <% source_address = Shop.find(@shop_id).address %>
        <% destination_address = @child_user_address %>
        <!-- Redirect to Google Directions -->
        <button type='button' class='btn btn-custom-3 btn-lg'><%= link_to "Get Directions",
          "http://maps.google.com/maps?saddr=#{URI.escape(
          source_address)}&daddr=#{URI.escape(destination_address)}&hl=en", :target => "_blank"%></button>
        </div>
    <% end %>
  </div>
</div>

