<!-- Preloader  Romain 30.05.17  Unplugged this section until it works correctly -->

  <div id="preloader">
    <div id="status">
      <div class="status-mes"></div>
    </div>
  </div>

  <!-- Home start -->

  <section id="home" class="intro-module module-image heightfull bg-dark-alfa-30">

    <div class="intro">
      <div class="intro-slider">
        <!-- Slide 1 -->
        <div class="owl-item">
          <h1 class="intro-title">Best Coffee just a mile away</h1>
        </div>
        <!-- Slide 2 -->
        <div class="owl-item">
          <h1 class="intro-title">Make yourself delivered</h1>
        </div>
        <!-- Slide 3 -->
        <div class="owl-item">
          <h1 class="intro-title">Or Become the welcomed deliver</h1>
        </div>
      </div><!-- .intro-slider -->





      <div class="container"> <!-- home searchbar -->
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div id="custom-search-input">
              <form action="/shops" class="input-group col-md-12">
                <input type="text" name='address' class="form-control input-lg shop-search-input" placeholder="Search for a shop around you" />
                <span class="input-group-btn">
                <button  class="btn btn-info btn-lg" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
                </span>
              </form>
                </div>
            </div>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end searchbar -->

    </div><!-- .intro -->

    <div class="mouse-icon">
      <div class="wheel"></div>
    </div>

  </section>

  <!-- Home end -->

  <!-- About start -->

  <section id="services" class="module">
    <div class="container">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="module-header wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <h3 class="module-subtitle">How it works</h3>
          </div>
        </div>
      </div><!-- .row -->

      <div class="flex-align-3">

          <div class="iconbox flex-align-3-item">
            <div class="iconbox-body flex-align-3-height" >
              <div class="iconbox-icon"><span class=" icon-basket"></span></div>
              <div class="iconbox-text">
                <h3 class="iconbox-title">Order</h3>
                <div class="iconbox-desc">
                  You're too short in time or the weather is too bad today ? Order your favorite coffee. Someone will bring it to you !
                </div>
              </div>
            </div>
          </div>

          <div class="iconbox flex-align-3-item">
            <div class="iconbox-body flex-align-3-height" >
              <div class="iconbox-icon"><span class="icon-directions"></span></div>
              <div class="iconbox-text">
                <h3 class="iconbox-title">Deliver</h3>
                <div class="iconbox-desc">
                  You choosed to get delivered ? Just wait for a little while ! You choosed to deliver ? You just made savings!
                </div>
              </div>
            </div>
          </div>

          <div class="iconbox flex-align-3-item">
            <div class="iconbox-body flex-align-3-height" >
              <div class="iconbox-icon"><span class="icon-cup"></span></div>
              <div class="iconbox-text">
                <h3 class="iconbox-title">Enjoy</h3>
                <div class="iconbox-desc">
                  Enjoy your favorite coffee under all circumstances. If you want to earn credits, why not become a deliver !?
                </div>
              </div>
            </div>
          </div>

      </div><!-- .row -->

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="devider">
            <%= cl_image_tag ("divider-down_lxs9rq") %>
          </div>
        </div>
      </div><!-- .row -->

    </div><!-- .container -->
  </section>

  <!-- About end -->

  <!-- Callout section start -->

  <section id="callout-two" class="callout bg-dark-alfa-30">
    <div class="container">

      <div class="row">
        <div class="col-sm-2 col-sm-offset-5 text-center long-down">
          <%= cl_image_tag "/theme/images/divider-top.svg" %>
        </div>
      </div><!-- .row -->

      <div class="row">
        <div class="col-sm-12">
          <h2 class="callout-text">Just like you were home</h2>
        </div>
      </div><!-- .row -->

    </div><!-- .container -->
  </section>

  <!-- Callout section end -->

  <!-- Gallery start -->

  <section class="module" id ="gallery">
    <div class="container">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="module-header wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <h2 class="module-title">Gallery</h2>
            <h3 class="module-subtitle">Photo of our customers</h3>
          </div>
        </div>
      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-4">
          <div class="gallery-item">
            <figure class="overlay">
              <%= image_tag ('gallery_home_page/photo1.jpg') %>
              <figcaption>
                <%= link_to "", 'gallery_home_page/photo1.jpg', class: "gallery" %>
                <div class="caption-inner">
                  <div class="overlay-icon">
                    <span class="icon-magnifier"></span>
                  </div>
                </div>
              </figcaption>
            </figure>
            <div class="gallery-detail">
              <h4 class="gallery-title">SoGood - November 2016</h4>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="gallery-item">
            <figure class="overlay">
              <%= image_tag ('gallery_home_page/photo2.jpg') %>
              <figcaption>
                <%= link_to "", 'gallery_home_page/photo2.jpg', class: "gallery" %>
                <div class="caption-inner">
                  <div class="overlay-icon">
                    <span class="icon-magnifier"></span>
                  </div>
                </div>
              </figcaption>
            </figure>
            <div class="gallery-detail">
              <h4 class="gallery-title">Colleagues' cup board</h4>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="gallery-item">
            <figure class="overlay">
              <%= image_tag ('gallery_home_page/photo3.jpg') %>
              <figcaption>
                <%= link_to "", 'gallery_home_page/photo3.jpg', class: "gallery" %>
                <div class="caption-inner">
                  <div class="overlay-icon">
                    <span class="icon-magnifier"></span>
                  </div>
                </div>
              </figcaption>
            </figure>
            <div class="gallery-detail">
              <h4 class="gallery-title">Mark Random - Coffee Lover </h4>
            </div>
          </div>
        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-4">
          <div class="gallery-item">
            <figure class="overlay">
              <%= image_tag ('gallery_home_page/photo8.jpg') %>
              <figcaption>
                <%= link_to "", 'gallery_home_page/photo8.jpg', class: "gallery" %>
                <div class="caption-inner">
                  <div class="overlay-icon">
                    <span class="icon-magnifier"></span>
                  </div>
                </div>
              </figcaption>
            </figure>
            <div class="gallery-detail">
              <h4 class="gallery-title">Planning a Trip - March 2014</h4>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="gallery-item">
            <figure class="overlay">
              <%= image_tag ('gallery_home_page/photo5.jpg') %>
              <figcaption>
                <%= link_to "", 'gallery_home_page/photo5.jpg', class: "gallery" %>
                <div class="caption-inner">
                  <div class="overlay-icon">
                    <span class="icon-magnifier"></span>
                  </div>
                </div>
              </figcaption>
            </figure>
            <div class="gallery-detail">
              <h4 class="gallery-title">Calm moment during Winter 2015</h4>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="gallery-item">
            <figure class="overlay">
              <%= image_tag ('gallery_home_page/photo6.jpg') %>
              <figcaption>
                <%= link_to "", 'gallery_home_page/test.jpg', class: "gallery" %>
                <div class="caption-inner">
                  <div class="overlay-icon">
                    <span class="icon-magnifier"></span>
                  </div>
                </div>
              </figcaption>
            </figure>
            <div class="gallery-detail">
              <h4 class="gallery-title">Elisa Johns - Brainstorming</h4>
            </div>
          </div>
        </div>

      </div><!-- .row -->

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="devider">
            <%= cl_image_tag ("divider-down_lxs9rq") %>

          </div>
        </div>
      </div><!-- .row -->

    </div><!-- .container -->
  </section>

  <!-- Gallery end -->

  <!-- Footer end -->

  <div class="scroll-up">
    <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
  </div>

  <% content_for :after_js do %>
    <%= javascript_include_tag 'search_autocomplete.js' %>
  <%end%>
