<!DOCTYPE html>
<html>
  <head>
    <title>TODO</title>
    <!-- FROM WRAP BOOTSTRAP LEAF THEME -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leaff Restaurant Theme</title>

    <!-- CSS -->
    <!-- Bootstrap core CSS -->
    <link href="theme/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Font Awesome CSS -->
    <link href="theme/css/font-awesome.min.css" rel="stylesheet" media="screen">

    <!-- Elegant icons CSS -->
    <link href="theme/css/simple-line-icons.css" rel="stylesheet" media="screen">

    <!--[if lte IE 7]>
      <script src="assets/js/icons-lte-ie7.js"></script>
    <![endif]-->

    <!-- Magnific-popup lightbox -->
    <link href="theme/css/magnific-popup.css" rel="stylesheet">

    <!-- Owl Carousel -->
    <link href="theme/css/owl.theme.css" rel="stylesheet">
    <link href="theme/css/owl.carousel.css" rel="stylesheet">

    <!-- Animate css -->
    <link href="theme/css/animate.css" rel="stylesheet">

    <!-- Time and Date piker CSS -->
    <link href="theme/css/jquery.timepicker.css" rel="stylesheet" media="screen">
    <link href="theme/css/datepicker.css" rel="stylesheet" media="screen">

    <!-- Custom styles CSS -->
    <!-- <link href="theme/css/style.css" rel="stylesheet" media="screen"> -->
    <!-- END OF WRAP BOOTSTRAP LEAF THEME -->

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta charset="UTF-8">

  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/logged_navbar' %>
    <main class="min-heightfull">
    <%= yield %>
    </main>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <!-- FROM WRAPBOOTSTRAP THEME LEAF -->
    <!-- Javascript files -->
    <script src="/theme/js/jquery-1.11.1.min.js"></script>
    <script src="/theme/bootstrap/js/bootstrap.min.js"></script>

    <!-- Use for slideshow background -->
    <script src="/theme/js/jquery.backstretch.min.js"></script>

    <!-- Use for video background -->
    <script src="/theme/js/video.js"></script>
    <script src="/theme/js/bigvideo.js"></script>

    <!-- Date and time picker -->
    <script src="/theme/js/bootstrap-datepicker.js"></script>
    <script src="/theme/js/jquery.datepair.min.js"></script>
    <script src="/theme/js/jquery.timepicker.min.js"></script>
    <script src="/theme/js/jqBootstrapValidation.js"></script>

    <!-- Google Maps -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/theme/js/gmaps.js"></script>

    <!-- Other -->
    <script src="/theme/js/jquery.matchHeight-min.js"></script>
    <script src="/theme/js/jquery.magnific-popup.min.js"></script>
    <script src="/theme/js/twitterFetcher_min.js"></script>
    <script src="/theme/js/owl.carousel.min.js"></script>
    <script src="/theme/js/jquery.fitvids.js"></script>
    <script src="/theme/js/smoothscroll.js"></script>
    <script src="/theme/js/wow.min.js"></script>

    <!-- Custom scripts -->
    <script src="/theme/js/custom.js"></script>
    <!-- END OF WRAPBOOTSTRAP THEME LEAF -->

  </body>
</html>
